
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Commute</title>

    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"></link>


    <!-- <link href="signin.css" rel="stylesheet"> -->
  </head>

  <body>

    <div id="app">
        <search></search>
    </div>

    <script type="text/javascript" charset="utf-8" src="/main.js"></script>
  </body>
</html>
