<div class="search container">
    <form role="form">
        <input  required
                autofocus
                type="text" 
                placeholder="From"
                ng-model="from" 
                typeahead-min-length="2"
                typeahead="station for station in findStation($viewValue)" 
                class="form-control" /> 

        <input  required
                autofocus
                type="text" 
                placeholder="To"
                ng-model="to" 
                typeahead-min-length="2"
                typeahead="station for station in findStation($viewValue)" 
                class="form-control" /> 
    <br/>
    <button class="btn btn-lg btn-primary btn-block" ng-click="findJourneys()" type="submit">Search</button>
  </form>
</div>
